<nav class="bg-gradient-to-r from-red-700 to-red-400 text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16 items-center">
        <!-- Logo -->
        <div class="flex-shrink-0">
          <a routerLink="/" class="flex items-center">
            <img src="/rurant_logo.svg" alt="Logo" class="h-12 w-auto bg-gray-200 p-1 rounded bg-opacity-80">
          </a>
        </div>
        <div class="hidden md:flex space-x-8">
          <ng-container *ngIf="isLoggedIn$ | async">
            <a 
              (click)="logout()" 
              class="hover:underline cursor-pointer"
            >
              Logout
            </a>
          </ng-container>
        </div>
        <!-- Mobile Menu Button -->
      </div>
    </div>
  </nav>
  